
/*

orange: #e67e22
*/


/*---------------------------------------*/
/*Basic Setup*/
/*---------------------------------------*/

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

html{
  background-color: #f9f2f2;
  color: #555854;
  font-family: 'Lato','Arial',sans-serif;
  font-size: 20px;
  font-weight: 300;
  /*font-rendering: optimizelegiblity;*/
}

/*---------------------------------------*/
/*Reusable content*/
/*---------------------------------------*/

.btn:link,
.btn:visited{
  display: inline-block;
  text-decoration: none;
  border: 1px solid #e67e22;
  border-radius: 200px;
  padding: 10px 30px;
  font-weight: 300;


}
.btn-full:link,
.btn-full:visited{
  background-color: #e67e22;
  color: #fff;
margin-right: 10px;
}

.btn-ghost:link,
.btn-ghost:visited{
  color:#e67e22;
}
.btn:hover,
.btn:active{
  background-color: #924d10;
  transition: background-color 0.2s,color 0.2s, border 0.2s;
}
.btn-full:hover,
.btn-full:active{
  background-color: #924d10;
  color: #fff;
    border: 1px solid #924d10;
}

.btn-ghost:hover,
.btn-ghost:active{
  background-color: #924d10;
  color:#fff;
  border: 1px solid #924d10;
}

.row{
max-width: 1140px;
margin: 0 auto;

}
/*---------------------------------------*/
/*Header*/
/*---------------------------------------*/

header{
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('img/hero.jpg');
  background-size: cover;
  height: 100vh;
  background-position: center;
}
.hero-text-box{
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

}

/*----------------------------------*/
/*Headings*/
/*----------------------------------*/

h1,h2,h3{
 
  text-transform: uppercase;
       letter-spacing: 1px;
}
h1{
    color: #fff;
  font-weight: 300;
  font-size: 240%;
    word-spacing: 3px;
    margin-top: 0px;
    margin-bottom: 30px;
  
}
h2{
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 40px;
}
h2::after{
    display: block;
    height: 2px;
    width: 100px;
    background-color: #e67e22;
    content: " ";
    margin: 0 auto;
    margin-top: 30px;
}
h3{
    font-size: 100%;
    margin-bottom: 10px;
}
/*---------------------------------------------*/
/*Navigation*/
/*---------------------------------------------*/
.logo{
  height: 100px;
  width: auto;
  margin-left: 100px;
  float: left;
  margin-top: 40px;
}
.main-nav{
  list-style: none;
  float: right;
  margin-right: 100px;
  margin-top: 60px;
}
.main-nav li{
  display: inline-block;
  margin-left: 40px;
text-transform: uppercase;
word-spacing: 2px;
letter-spacing: 1px;
}
.main-nav li a:link,
.main-nav li a:visited{
  text-decoration: none;
  color: #fff;
  font-size: 90%;
  padding-bottom: 10px 0;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
}
.main-nav li a:hover,
.main-nav li a:active{
border-bottom: 2px solid #e67e22;
padding-bottom: 10px;
}

/*-----------------------------------*/
/*Section*/
/*--------------------*/
.section-features{
    margin-top:80px;
}

.copy-long{
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
    text-align: justify;
 }

.box{
    padding: 1%;
    text-align: justify;
}

.box p{
    font-size: 90%;
    line-height: 145%;
}

.icon-big{
    font-size: 350%;
    display: block;
    color: #e67e22;
    margin-bottom: 10px;
}

/*---------------------------------*/
/*Features*/
/*---------------------------------*/
.section-features .copy-long{
    margin-bottom: 30px;
}
/*---------------------------------*/
/*Favourite Meals*/
/*---------------------------------*/
.section-meals{
   padding: 0;
    
}
.meals-showcase{
    list-style: none;
    width: 100%
}
.meals-showcase li{
     display: block;
    float: left;
        width: 25%;
}
.meals-photo{
    margin: 0;
    width: 100%;
    overflow: hidden;
    background-color: #000;
}
.meals-photo img{
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.5);
    transition: transform 0.2s,opacity 0.5s;
}

.meals-photo img:hover{
    transform: scale(1.03);
    opacity: 1;
}